<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include nav.html %}
    <canvas id="c_n149" width="951" height="949" style="position: fixed; top: 0px; left: 0px; z-index: -2; opacity: 0.7;"></canvas>
    <div id="post">
      <div id="pjax">
        {{ content }}
        <!--添加表格边框，不然看不出来是个表格-->
        <table id="table">
        </table>
      </div> <!-- end #pjax -->

      <div id="post__toc-trigger">
        <div id="post__toc" >
          <span id="post__toc-title">目 录</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div> <!-- end #post -->

    {% include footer.html %}
  </body>
</html>
