<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
  </head>
  <body>
     {% include nav.html %}
    <div id="post">
      <div id="pjax">
        {{ content }}
        <!--添加表格边框，不然看不出来是个表格-->
        <table id="table">
        </table>
      </div> <!-- end #pjax -->

      <div id="post__toc-trigger">
        <div id="post__toc" >
          <span id="post__toc-title">目 录</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div> <!-- end #post -->

    <button id="js-fullscreen"><span id="icon-arrow" class="fontello"></span></button>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery.pjax.js"></script>
    <script src="/assets/js/nprogress.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
